@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;700&display=swap');* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;

}


/*** VARIABLES */

:root {
    --black: #0d0e14;
    --lila: #e9b4e48f;
}


.section-container {
    background-color: var(--black);
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 70px 0px;
    width: 95%;
    max-width: 1500px;
    
}

.button {
    background-color: var(--lila);
    border: 0px solid black;
    outline: none;
    width: 160px;
    height: 40px;
    color: rgb(255, 255, 255);
    font-weight: 900;
    cursor: pointer;
    transition: all 0.4s linear;
    border-radius: .6em;
    margin-top: 2em;
    text-transform:uppercase;
    /* text-shadow: 1px 1px 0px rgb(6, 3, 3); */
    
}

.button:hover {
    background-color: wheat;
    color: black;
    font-weight: 900;
    transition: all 0.4s linear;
    text-shadow: none;
}

.section-title {
    font-weight: 700;
    font-size: 32px;
}

.section-p {
    font-size: 12px;
    font-weight: 300;
}

.section-p-small {
    font-size: 10px;
    font-weight: 300;
}

/* esto se pone al tope de la pagina 
para que el menu hamburguesa me siga mientras scrolee 
con el cel o tablet */

.header-container {
    position: sticky;
    top: 0;
    z-index: 9999;
}

/*** TERMINA VARIABLES  */

/*** POR DEFECTO */

html {
    scroll-behavior:smooth;
    scroll-padding-top: 100px;
}

body {
    width: 100%;
    color: white;
    background-color: #0d0e14d0;
    
}



/** EMPIEZOPOOOO  */

/* envios */

.envios {
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background: #1e202c8f;
    height: 16px;

}



.header {
    margin: 0 auto;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 10px 0px 10px;
    background-color: #13151d8f;
    
}

/* div contenedor logo */

.logo-container {
    height: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.51);
}

/* imagen logo */

.logo-container img {
    height: 100%;
    mix-blend-mode: difference;
    color:white; filter:alpha(opacity=100); opacity:1;
    
}


/* hover logo */

.logo-container img:hover {
    filter: blur(.1px);
    padding: 2px 0px 1px 0px;
}



/* div navbar */


.navbar .navbar-list {
    list-style:none;
}
.navbar-list {
    display: flex;
    gap: 20px;
    
}

/* borde lista */
.navbar-list li {
    padding: 20px;
    /* border-right: 1px solid rgba(0, 0, 0, 0.075); */
}

/* icono navbar */

.navbar i {
    font-size: 40px;
    cursor: pointer;
    display: none;
}

/* no se ve el */
#toggle-menu {
    display: none;
}

/* navbar a */

.navbar a {
    color: whitesmoke;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
}
/* colores login */



/* navbar a hover */

.navbar li>a:hover{
    background-color: #14120d36;
}

/*border left lo sque al inicio*/

.navbar-list li:first-child {
    border: none;
}

/* navbar "inicio" */




/* hover del navbar */

.navbar-list li a:hover {
    color: wheat;
    font-size: 20px;
    font-weight: 700;
    transition: all 0.1s linear;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.51);
    padding: 1px 2px;
}

    /* acceder */

    /* submenu */

    header .navbar ul li {
        position: relative;
        float: left;
    }

    header .navbar ul li ul {
        position: absolute;
        width: 150px;
        left: 0;
        background-color: var(--lila);
        display: none;
        list-style: none;
        text-align: center;
        margin: 2px;
        border-radius: .5em;
    }

header .navbar ul li ul li {
        width: 100%;

    }

    header .navbar ul li ul li ul {
        left: 200px;
        top: 0;
    }

    header .navbar ul li:focus-within > ul,
    header .navbar ul li:hover > ul {
    display: initial ;
    top: 100%;
    transition: all 1s linear;
    background: #fcc8f78f;
    }




    .navbar-list li:nth-child(4) {
    background: var(--lila);
    box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.navbar-list li:nth-child(4) a:hover {
    color:white;
    font-size: 20px;
    font-weight: 700;
    transition: all 0.1s linear;
    background: none;
    box-shadow:none;
    
}

/* LOGIN */



.submenu {
	display: flex;
	align-items: center;
	justify-content: center;
}

.login {
	width: 320px;
	padding: 30px;
	padding-top: 156px;
    border-radius: 1rem;
}

.login__field {
	padding: 20px 0px;	
	position: relative;	
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}



/* BUSCADOR */

.search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
}
.input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 25px;
    outline: none;
    transition: all .5s ease-in-out;
    background-color:  var(--lila);
    padding-right: 40px;
    color:rgb(255, 255, 255);
}
.input-search::placeholder{
    color:rgba(255,255,255,.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}
.btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;  
}
.btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2); }
.input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}




/** media query */


@media (max-width: 1080px) {

    .header {
        justify-content:space-around;
    }




/* bloqueo hamburguesita */
    .navbar i {
        display: block;
    }


    /* checked si funka o no */
    #toggle-menu:checked + .navbar-list {
    
        display:flex;
    }

    .navbar .navbar-list {
        display: none;
        align-items: center;
        justify-content: center;
        list-style:none;
        
    }


    .navbar-list {
    position: absolute;
    background-color: var(--black);
    flex-direction: column;
    top: 115px; /*esto es para q no se vaya arriba y baje 100px del top*/
    right: 0;
    width: 100%;
    height: calc(100vh - 100px); /*para que siempre este al 100 en la pantalla*/
    /*z-index: 9999;*/ /*para que este encima de todo*/

}
.navbar-list li {
    border: none;
}
}


/**termina el media*/

/**HEROOOO/***/

#hero {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 120px 100px;
    background: #0d0e14ef;
}

.description-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 30%;
    gap: 30px;
    
}

.text-container {
    max-width: max(40%, 300px);

}

.text-container p {
    max-width: max(40% 300px);
    font-size: 25px;
    text-shadow: 2px 1px 0px rgba(255,255,255,0.28);    
    font-weight: 600;

}

.text-container h1 {
    font-size: 123px ;
    text-shadow: 3px 3px 0px rgba(255,255,255,0.67);    
    line-height: 110px;
    font-weight: 900;
    line-height: 130px;

}

/* imagen derecha de navegador */

.imagen-hero {
    
    background-image: url(./img/messicapo\ \(2\).jpg);
    background-position: center;
    background-size: cover;
    min-width: 30%;
    width: 30%;
    height: 600px;
    box-shadow: -11px -2px 29px 9px rgba(0,0,0,0.7);    
    border-radius: 15px;
}


/* * empeizo el media del hero */


@media (max-width: 900px) {


.imagen-hero {
    display: none;
}

.description-container {
    justify-content: center;
    align-items: center;

}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

}

/** termina el MEDIA DEL HERO  */

/** COMIENZO SECCION PRODUCTOS * */

#products {
    flex-direction: column;
    gap: max(120px, 10%);
}

/* titulo productos */
.title-container h2 {
    text-transform: uppercase;
    font-size: calc(2em + 2vw);
    max-width: 90%;
    text-shadow: 2px 4px 0px rgba(146, 117, 117, 0.98);
    
}

/* speaker-cards-container */
.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    gap: 90px;
}
/* speakcer card */
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    width: 430px;
    height: 500px;
    position: relative;
    padding-top: 50px;
    mix-blend-mode: difference;
    color:white; filter:alpha(opacity=100); opacity:1;
    box-shadow: 10px 10px 23px 3px rgba(255,255,255,0.03);
    cursor:grabbing;
    transition: 0.4s ease-in-out;
}
.card:hover {
    transform: translateY(-20px);

}

/* speck card img */

.card-img {
    width: 250px;
    max-width: 80%;
    height: 300px;
    border-radius: 2%;
    background-color: wheat;
    background-size: cover;
    position: absolute;
    top: -20px;
    font-weight: 300;
    border-top: 12em;
    color: white;
    max-width: max(10%, 200px);

}

.card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    font-size: 1.5em;

}


/* clase href comprar */

.href {
    text-decoration: none;
    color: white;
    font-size: .6em;
    font-weight: 600;
    margin: 0 auto;
    
} 

.card-content p {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


/* titulo carta */
.card-content h3{
    font-weight: 700;
    font-size: 25px;
    margin-top: 16rem;
    text-transform: uppercase;
}



.card:first-child .card-img{
    background-image: url(./img/cele.jpg);

}
.card:nth-child(2) .card-img {
    background-image: url(./img/red.jpg);
}
.card:nth-child(3) .card-img {
    background-image: url(./img/marron1.jpg);
}
.card:nth-child(4) .card-img {
    background-image: url(./img/negra1.jpg);
}
.card:nth-child(5) .card-img {
    background-image: url(./img/azul3.jpg);
}
.card:nth-child(6) .card-img {
    background-image: url(./img/rojo3.jpg);
}

@media (max-width:992px) {

    /* .card {
        position: relative;
    }

.card-img {
    position: absolute;
} */


}

/* **CONTACTO FORMULARIO* */

.formulario {
width: 80%;
max-width: 800px;
/* background: red; */
padding: 30px 40px;
box-shadow: 0px 0px 42px 24px rgba(0,0,0,0.46);
text-align: center;
height: 600px;
border-radius: 1em;
}

form {
    display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.form-txt {
border: 1px solid gray;
margin: 8px 0;
border-radius: .5em;
padding: 12px 18px;
width: 95%;


}






/** termino HERO  */

/** EMPIEZO FOOTER  */

.footer {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 70px;
    padding: 30px;
    background-image: url(./img/corbatas/fondo\ mama.jpg);
}



/* tidis kis derechos */

.footer-msg {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    max-width: 450px;
}
.footer-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-size: 14px;
    min-height: 100px;
}

.footer-social i:last-child{
    margin-left: 10px;
}

.footer-terms {
    display: flex;
    gap: 20px;
}

.footer-terms a {
    color: #fff;
    font-weight: 700;
    
}



/* * media footer */


@media (max-width: 945px) {

.footer-info {

    align-items: center;
    margin-bottom: 20px;

}





/* *************************************** */


    









}